---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Layout.astro';
import { createSlug } from '@utils/utils';
import { formatDate } from '@utils/utils';
import BlogList from '@components/BlogList.astro';

let posts = await getCollection('posts');
// if we are production mode, filter out drafts
if (import.meta.env.PROD) {
  posts = posts.filter((draft) => !draft.data.draft);
}

// Sort posts by publication date
let sortedPosts = posts.sort((a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf());
---

<Layout title="Blog">
  <section id="blogPosts" class="bg-stone-100 shadow-lg p-8 border border-stone-200 rounded-lg">
    <header class="mb-6">
      <h1 class="pb-10 font-medium text-4xl">Blog-Beiträge ({posts.length})</h1>
      <BlogList posts={posts} />
    </header>
  </section>
</Layout>
