---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Galerie">
    <section id="gallery">
        <h1 class="text-4xl">Galerie</h1>
        <p class="mt-8">
            Dies ist die Galerie-Seite. Mehr Inhalt kommt bald. Bitte haben noch
            etwas Geduld.
        </p>
    </section>
</Layout>
