---
// Footer.astro
---

<footer class="border-t-2 text-sm text-center pt-4">
  <p class="pt-2">&copy; 2025 cbrueggenolte.de. All rights reserved.</p>
  <p class="">
    Made with <a
      href="https://astro.build"
      class="text-red-500 dark:text-green-500">Astro</a
    >
    and hosted on <a
      href="https://uberspace.de"
      class="text-red-500 dark:text-green-500">Asteroids</a
    >
  </p>
</footer>

<style>
  footer {
    border-top: 1px solid var(--color-slate-400);
    padding: 2rem;
    margin-top: 2rem;
  }
  footer a:hover {
    text-decoration: underline;
  }
</style>
