---
// Footer.astro
import { footerMenu } from '@utils/menu';

// Normalize URL path by ensuring trailing slash
const normalizeUrl = (url: string) => (url.endsWith('/') ? url : url + '/');
const activePage = normalizeUrl(Astro.url.pathname);
---

<footer class="border-t-2 text-sm text-center pt-4">
  <nav class="font-normal mx-auto">
    <ul class="flex flex-wrap justify-center text-lg -mr-2 -ml-2">
      {
        footerMenu.map((item) => (
          <li class="inline-block">
            <a
              href={item.href}
              target="_self"
              class={`${activePage === item.href ? 'text-stone-200 underline font-medium' : ''} hover:underline inline-block py-0 px-2 -mr-1 text-green-500`}>
              {item.name}
            </a>
            {item !== footerMenu[footerMenu.length - 1] ? '|' : ''}
          </li>
        ))
      }
    </ul>
  </nav>
  <p class="pt-2">&copy; 2025 cbrueggenolte.de. All rights reserved.</p>
  <p class="">
    Made with <a href="https://astro.build" class="text-green-500">Astro</a>
    and hosted on <a href="https://uberspace.de" class="text-green-500">Asteroids</a>
  </p>
</footer>

<style>
  footer {
    border-top: 1px solid var(--color-slate-400);
    padding: 2rem;
    margin-top: 2rem;
  }
  footer a:hover {
    text-decoration: underline;
  }
</style>
