<h1 class="font-medium text-5xl/12">Hi! Carsten here 👋.</h1>
<p class="mb-4 font-medium text-2xl/12">Welcome to my small corner of the internet.</p>

<div class="text-lg prose">
  <p>
    This is <a href="/about/" target="_self">personal website</a>, where I share my thoughts, experiences, things I
    collected and things I value.
  </p>
  <p>
    As someone who loves technology and podcasts, I'm excited to invite you to explore my various interests and find
    inspiration! On my blog, you'll find a collection of articles on all sorts of topics. From personal achievements and
    experiences to smaller programming projects, tips and tricks for computer games, and more.
  </p>
  <p>
    Feel free to look through my digital collection and let your imagination wander. I'd love to hear your thoughts, so
    please share your ideas with me!
  </p>
  <p>
    This space is also my creative playground, where I share my reflections to learn and inspire others. I've created
    this digital garden to grow my passions openly. A 'digital garden' is a reminder of the early days of the internet,
    when people shared their interests just for fun, without worrying about clickbait and numbers.
  </p>
  <p>
    Join me on this journey as I share my process, not just the final results. Together, let's explore the world of
    digital thoughts and exciting discoveries.
  </p>
</div>

<style></style>
