---
import { formatDate } from '@utils/utils';

const { post } = Astro.props;
---

<div class="flex flex-col items-center w-full text-md text-stone-500">
  <div class="">
    {formatDate(post.data.pubDate)}
  </div>
  <div class="">
    Tags: {' '}
    <div
      class="inline"
      set:html={post.data.tags?.length > 0
        ? post.data.tags
            .map((tag: string) => `<a href="/tags/${tag}/">${tag.charAt(0).toUpperCase() + tag.slice(1)}</a>`)
            .join(', ')
        : 'No tags'}
    />
  </div>
</div>
