---
import { formatDate } from '@utils/utils';

const { post } = Astro.props;
---

<div class="text-md text-stone-400">
  <div class="block">
    {formatDate(post.data.pubDate)}
  </div>
  <div class="block">
    Tags: {' '}
    <span
      set:html={post.data.tags?.length > 0
        ? post.data.tags
            .map((tag: string) => `<a href="/tags/${tag}/">${tag}</a>`)
            .join(', ')
        : 'No tags'}
    />
  </div>
</div>
