---
import "../styles/global.css";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import HeaderScript from "@components/HeaderScript.astro";
import { ClientRouter } from 'astro:transitions'

import { createSlug } from "@utils/utils";

const { title, postdata } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    {
      postdata?.description && (
        <meta name="description" content=`${postdata.description}` />
      )
    }
    <meta name="robots" content="index, follow" />
    {
      title && (
        <link
          rel="canonical"
          href={`https://cbrueggenolte.de/${createSlug(title)}`}
        />
      )
    }
    <title>{title} | cbrueggenolte.de</title>
    <ClientRouter />
    <HeaderScript />
  </head>  <body class="font-sans">
    <div id="top"></div>
    
    <Header />
    
    <main class="mx-auto my-12 px-6 pt-8 pb-12 rounded-lg max-w-3xl text-lg container">
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style is:global>
  main a {
    color: var(--color-red-600); /* red-600 */
    text-decoration: none;
    font-weight: var(--font-weight-normal);
    transition-duration: 300ms;

  }
  main a:hover {
    color: var(--color-red-700); /* red-700 */
    background-color: transparent;
    text-decoration: underline;
  }
</style>

